<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1015792952676-si3imee4g4q6d9sap7kg0bth2p9f2ol6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1015792952676-si3imee4g4q6d9sap7kg0bth2p9f2ol6</string>
	<key>API_KEY</key>
	<string>AIzaSyDpp5IM-o-34gaBMARmnmTIFMeJ4KemRyA</string>
	<key>GCM_SENDER_ID</key>
	<string>1015792952676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akula.itunes-voio</string>
	<key>PROJECT_ID</key>
	<string>fims-a4168</string>
	<key>STORAGE_BUCKET</key>
	<string>fims-a4168.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015792952676:ios:15d6eb55eb9c00a8a04671</string>
</dict>
</plist>